html {
    font-size:10px; font-family: 'Trebuchet MS';
}

body {background:#ccc; }

$animais: "leão", "Puma", "Pato", "Galinha";
$social: (
    facebook: #fff,
    twitter: #000,
    github: #ff00ff,
    instagram: #00ffff,
    google: #ccc
);


$cont-border: 5px solid #fff;
$cont-color: #000;
$container: #{$cont-border} #{$cont-color};

$font-style: italic;
$font-weight: bold;
$font-size: 15px;
$line-height: 15px;
$font-family: verdana;
$font: #{$font-style} #{$font-weight} #{$font-size}/#{$line-height} #{$font-family};

$border: 5px solid #fff;
$border-bottom: 1px solid red;

$directions: top, right, bottom, left;

// PLACEHOLDERS
%center { 
    display:block; 
    margin:0 auto;
}

%no-padding {
    padding:0;
}

%no-margin {
    margin:0;
}

@each $direction in $directions {
    %no-padding-#{$direction} {padding-#{$direction}: 0;}
    %default-padding-#{$direction} {padding-#{$direction}: 1rem;}
    %double-padding-#{$direction} {padding-#{$direction}: 2rem;}
    %no-margin-#{$direction} {margin-#{$direction}: 0;}
}

// MIXIN
@mixin titles($color, $size, $border-bottom) {
    color: $color;
    font-size: $size;
    border-bottom: $border-bottom;
}

@mixin default-text {
  font: {
    family: 'Trebuchet MS';
    size: 1.3rem;
  }
  color: #333;
}

@mixin default-border {
    border: {
      style: solid;
      width: 0.1rem;
      color: rgb(122, 153, 51);
      radius: 0.3rem;
    }
}

.titles {
    @include titles(green, 30px, $border-bottom);
}

.text {
    @include default-text;
}

a:hover {text-decoration: underline; color:#fff;}

.msg {
    font: $font;
    @include default-border;
    @extend %no-padding, %double-padding-top;
    text-align:center; 
}

.msg-error {
    @extend .msg;
    border-color: red;
    color:red; 
}

nav {
    width: 80%;
    @extend %center;
    background: orange;
    border:$border;
    ul {
        list-style: none;
        @extend %no-padding;

        li {
            list-style: none; 
            margin:10px;
            a {
                text-decoration:none;
                font: $font;
                //$hover {color:#fff;}
                @extend a:hover;
            }
        }
    }   
}

.container {
    display:flex;
    justify-content: center;
    margin: 20px 0 ;
    .card {
        width: 250px;
        padding: 0;
        text-align: left;
        font: $font;
        border:$border;
    }
    .card-content {
        padding: 10px 20px;
        background:orange;
    }
    
}

